.product-detail {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.detail-image {
  max-width: 300px;
  height: auto;
}

.detail-info {
  max-width: 600px;
}

.category, .description, .price, .stars {
  margin: 10px 0;
}

.btn {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

.btn:hover {
  background-color: #21a1f1;
}
