.product-card {
  background-color: #252526;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
}

.stars {
  color: #f4c150;
}
.product-card {
  background-color: #252526;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
}

.stars {
  color: #f4c150;
}